{{ if first_name }}<strong>first_name:</strong> {{ first_name }}<br><br>{{ /if }}
{{ if last_name }}<strong>last_name:</strong> {{ last_name }}<br><br>{{ /if }}
{{ if name_suffix }}<strong>name_suffix:</strong> {{ name_suffix }}<br><br>{{ /if }}
{{ if email }}<strong>email:</strong> {{ email }}<br><br>{{ /if }}
{{ if organization }}<strong>organization:</strong> {{ organization }}<br><br>{{ /if }}
{{ if phone }}<strong>phone:</strong> {{ phone }}<br><br>{{ /if }}
{{ if pager }}<strong>pager:</strong> {{ pager }}<br><br>{{ /if }}
{{ if address_1 }}<strong>address_1:</strong> {{ address_1 }}<br><br>{{ /if }}
{{ if address_2 }}<strong>address_2:</strong> {{ address_2 }}<br><br>{{ /if }}
{{ if city }}<strong>city:</strong> {{ city }}<br><br>{{ /if }}
{{ if state }}<strong>state:</strong> {{ state }}<br><br>{{ /if }}
{{ if zip }}<strong>zip:</strong> {{ zip }}<br><br>{{ /if }}
{{ if comments }}<strong>comments:</strong> {{ comments }}<br><br>{{ /if }}
{{ if patient_interests }}<strong>patient_interests:</strong> {{ patient_interests|sentence_list }}<br><br>{{ /if }}
{{ if send_requests }}<strong>send_requests:</strong> {{ send_requests|sentence_list }}<br><br>{{ /if }}
{{ if provider_requests }}<strong>provider_requests:</strong> {{ provider_requests|sentence_list }}<br><br>{{ /if }}
