{{ if 4_first_name }}<strong>First name:</strong> {{ 4_first_name }}<br><br>{{ /if }}
{{ if 4_last_name }}<strong>Last name:</strong> {{ 4_last_name }}<br><br>{{ /if }}
{{ if 5_address_1 }}<strong>Address 1:</strong> {{ 5_address_1 }}<br><br>{{ /if }}
{{ if 5_address_2 }}<strong>Address 2:</strong> {{ 5_address_2 }}<br><br>{{ /if }}
{{ if 5_city }}<strong>City:</strong> {{ 5_city }}<br><br>{{ /if }}
{{ if 5_state }}<strong>State:</strong> {{ 5_state }}<br><br>{{ /if }}
{{ if 5_zip }}<strong>Zip code:</strong> {{ 5_zip }}<br><br>{{ /if }}
{{ if 6_phone_main }}<strong>Phone main:</strong> {{ 6_phone_main }}<br><br>{{ /if }}
{{ if 6_phone_alt }}<strong>Phone alt:</strong> {{ 6_phone_alt }}<br><br>{{ /if }}
{{ if 7_email }}<strong>Email:</strong> {{ 7_email }}<br><br>{{ /if }}
{{ if 1_date_applied }}<strong>Date applied:</strong> {{ 1_date_applied }}<br><br>{{ /if }}
{{ if 2_positions_applied }}<strong>Positions applied:</strong> {{ 2_positions_applied }}<br><br>{{ /if }}
{{ if 3_attribution }}<strong>Attribution:</strong> {{ 3_attribution }}<br><br>{{ /if }}
{{ if 3a_attribution_website }}<strong>Attribution website:</strong> {{ 3a_attribution_website }}<br><br>{{ /if }}
{{ if 3a_attribution_relation }}<strong>Attribution relation:</strong> {{ 3a_attribution_relation }}<br><br>{{ /if }}
{{ if 3a_attribution_other }}<strong>Attribution other:</strong> {{ 3a_attribution_other }}<br><br>{{ /if }}
{{ if 8_age_check }}<strong>Age check:</strong> {{ 8_age_check }}<br><br>{{ /if }}
{{ if 9_applied_before }}<strong>Applied before:</strong> {{ 9_applied_before }}<br><br>{{ /if }}
{{ if 9a_if_yes }}<strong>If yes:</strong> {{ 9a_if_yes }}<br><br>{{ /if }}
{{ if 10_employed_spr_before }}<strong>Employed at SPR before?:</strong> {{ 10_employed_spr_before }}<br><br>{{ /if }}
{{ if 10a_if_yes }}<strong>If yes:</strong> {{ 10a_if_yes }}<br><br>{{ /if }}
{{ if 11_relatives_at_spr }}<strong>Relatives at SPR:</strong> {{ 11_relatives_at_spr }}<br><br>{{ /if }}
{{ if 11a_if_yes }}<strong>If yes:</strong> {{ 11a_if_yes }}<br><br>{{ /if }}
{{ if 12_employed_current }}<strong>Employed current:</strong> {{ 12_employed_current }}<br><br>{{ /if }}
{{ if 13_employed_contact }}<strong>Employed contact:</strong> {{ 13_employed_contact }}<br><br>{{ /if }}
{{ if 14_visa_status }}<strong>Visa status:</strong> {{ 14_visa_status }}<br><br>{{ /if }}
{{ if 15_date_work_start }}<strong>Date work start:</strong> {{ 15_date_work_start }}<br><br>{{ /if }}
{{ if 16_desired_salary }}<strong>Desired salary:</strong> {{ 16_desired_salary }}<br><br>{{ /if }}
{{ if 17_work_availability }}<strong>Work availability:</strong> {{ 17_work_availability }}<br><br>{{ /if }}
{{ if 18_work_comments }}<strong>Work comments:</strong> {{ 18_work_comments }}<br><br>{{ /if }}
{{ if 19_job_discharge }}<strong>Job discharge:</strong> {{ 19_job_discharge }}<br><br>{{ /if }}
{{ if 19a_if_yes }}<strong>If yes:</strong> {{ 19a_if_yes }}<br><br>{{ /if }}
{{ if 20_education_HS_diploma }}<strong>Education HS diploma:</strong> {{ 20_education_HS_diploma }}<br><br>{{ /if }}
{{ if 20_education_A_school_name }}<strong>Education A - School name:</strong> {{ 20_education_A_school_name }}<br><br>{{ /if }}
{{ if 20_education_A_location }}<strong>Education A - Location:</strong> {{ 20_education_A_location }}<br><br>{{ /if }}
{{ if 20_education_A_years }}<strong>Education A - Years:</strong> {{ 20_education_A_years }}<br><br>{{ /if }}
{{ if 20_education_A_degree }}<strong>Education A - Degree:</strong> {{ 20_education_A_degree }}<br><br>{{ /if }}
{{ if 20_education_A_major }}<strong>Education A - Major:</strong> {{ 20_education_A_major }}<br><br>{{ /if }}
{{ if 20_education_B_school_name }}<strong>Education B - School name:</strong> {{ 20_education_B_school_name }}<br><br>{{ /if }}
{{ if 20_education_B_location }}<strong>Education B - Location:</strong> {{ 20_education_B_location }}<br><br>{{ /if }}
{{ if 20_education_B_years }}<strong>Education B - Years:</strong> {{ 20_education_B_years }}<br><br>{{ /if }}
{{ if 20_education_B_degree }}<strong>Education B - Degree:</strong> {{ 20_education_B_degree }}<br><br>{{ /if }}
{{ if 20_education_B_major }}<strong>Education B - Major:</strong> {{ 20_education_B_major }}<br><br>{{ /if }}
{{ if 20_education_C_school_name }}<strong>Education C - School name:</strong> {{ 20_education_C_school_name }}<br><br>{{ /if }}
{{ if 20_education_C_location }}<strong>Education C - Location:</strong> {{ 20_education_C_location }}<br><br>{{ /if }}
{{ if 20_education_C_years }}<strong>Education C - Years:</strong> {{ 20_education_C_years }}<br><br>{{ /if }}
{{ if 20_education_C_degree }}<strong>Education C - Degree:</strong> {{ 20_education_C_degree }}<br><br>{{ /if }}
{{ if 20_education_C_major }}<strong>Education C - Major:</strong> {{ 20_education_C_major }}<br><br>{{ /if }}
{{ if 21_experience_A_employer }}<strong>Experience A - Employer:</strong> {{ 21_experience_A_employer }}<br><br>{{ /if }}
{{ if 21_experience_A_jobtitle }}<strong>Experience A - Job title:</strong> {{ 21_experience_A_jobtitle }}<br><br>{{ /if }}
{{ if 21_experience_A_workperformed }}<strong>Experience A - Work performed:</strong> {{ 21_experience_A_workperformed }}<br><br>{{ /if }}
{{ if 21_experience_A_dates }}<strong>Experience A - dates:</strong> {{ 21_experience_A_dates }}<br><br>{{ /if }}
{{ if 21_experience_A_salary_start }}<strong>Experience A - Salary start:</strong> {{ 21_experience_A_salary_start }}<br><br>{{ /if }}
{{ if 21_experience_A_salary_end }}<strong>Experience A - Salary ND:</strong> {{ 21_experience_A_salary_end }}<br><br>{{ /if }}
{{ if 21_experience_A_exit_reason }}<strong>Experience A - Exit reason:</strong> {{ 21_experience_A_exit_reason }}<br><br>{{ /if }}
{{ if 21_experience_A_contact }}<strong>Experience A - Contact:</strong> {{ 21_experience_A_contact }}<br><br>{{ /if }}
{{ if 21_experience_B_employer }}<strong>Experience B - Employer:</strong> {{ 21_experience_B_employer }}<br><br>{{ /if }}
{{ if 21_experience_B_jobtitle }}<strong>Experience B - Job Title:</strong> {{ 21_experience_B_jobtitle }}<br><br>{{ /if }}
{{ if 21_experience_B_workperformed }}<strong>Experience B -Work performed:</strong> {{ 21_experience_B_workperformed }}<br><br>{{ /if }}
{{ if 21_experience_B_dates }}<strong>Experience B - Dates:</strong> {{ 21_experience_B_dates }}<br><br>{{ /if }}
{{ if 21_experience_B_salary_start }}<strong>Experience B - Salary start:</strong> {{ 21_experience_B_salary_start }}<br><br>{{ /if }}
{{ if 21_experience_B_salary_end }}<strong>Experience B - Salary end:</strong> {{ 21_experience_B_salary_end }}<br><br>{{ /if }}
{{ if 21_experience_B_exit_reason }}<strong>Experience B - Exit reason:</strong> {{ 21_experience_B_exit_reason }}<br><br>{{ /if }}
{{ if 21_experience_B_contact }}<strong>Experience B - Contact:</strong> {{ 21_experience_B_contact }}<br><br>{{ /if }}
{{ if 21_experience_C_employer }}<strong>Experience C - Employer:</strong> {{ 21_experience_C_employer }}<br><br>{{ /if }}
{{ if 21_experience_C_jobtitle }}<strong>Experience C - Job title:</strong> {{ 21_experience_C_jobtitle }}<br><br>{{ /if }}
{{ if 21_experience_C_workperformed }}<strong>Experience C - Work performed:</strong> {{ 21_experience_C_workperformed }}<br><br>{{ /if }}
{{ if 21_experience_C_dates }}<strong>Experience C - dates:</strong> {{ 21_experience_C_dates }}<br><br>{{ /if }}
{{ if 21_experience_C_salary_start }}<strong>Experience C - Salary start:</strong> {{ 21_experience_C_salary_start }}<br><br>{{ /if }}
{{ if 21_experience_C_salary_end }}<strong>Experience C - Salary end:</strong> {{ 21_experience_C_salary_end }}<br><br>{{ /if }}
{{ if 21_experience_C_exit_reason }}<strong>Experience C - Exit reason:</strong> {{ 21_experience_C_exit_reason }}<br><br>{{ /if }}
{{ if 21_experience_C_contact }}<strong>Experience C - Contact:</strong> {{ 21_experience_C_contact }}<br><br>{{ /if }}
{{ if 22_reference_A_name }}<strong>Reference A - Name:</strong> {{ 22_reference_A_name }}<br><br>{{ /if }}
{{ if 22_reference_A_relation }}<strong>Reference A - Relation:</strong> {{ 22_reference_A_relation }}<br><br>{{ /if }}
{{ if 22_reference_A_relation_length }}<strong>Reference A - Relation length:</strong> {{ 22_reference_A_relation_length }}<br><br>{{ /if }}
{{ if 22_reference_A_phone }}<strong>Reference A - Phone:</strong> {{ 22_reference_A_phone }}<br><br>{{ /if }}
{{ if 22_reference_A_email }}<strong>Reference A - Email:</strong> {{ 22_reference_A_email }}<br><br>{{ /if }}
{{ if 22_reference_B_name }}<strong>Reference B - Name:</strong> {{ 22_reference_B_name }}<br><br>{{ /if }}
{{ if 22_reference_B_relation }}<strong>Reference B - Relation:</strong> {{ 22_reference_B_relation }}<br><br>{{ /if }}
{{ if 22_reference_B_relation_length }}<strong>Reference B - Relation length:</strong> {{ 22_reference_B_relation_length }}<br><br>{{ /if }}
{{ if 22_reference_B_phone }}<strong>Reference B - Phone:</strong> {{ 22_reference_B_phone }}<br><br>{{ /if }}
{{ if 22_reference_B_email }}<strong>Reference B - Email:</strong> {{ 22_reference_B_email }}<br><br>{{ /if }}
{{ if 22_reference_C_name }}<strong>Reference C - Name:</strong> {{ 22_reference_C_name }}<br><br>{{ /if }}
{{ if 22_reference_C_relation }}<strong>Reference C - Relation:</strong> {{ 22_reference_C_relation }}<br><br>{{ /if }}
{{ if 22_reference_C_relation_length }}<strong>Reference C - Relation length:</strong> {{ 22_reference_C_relation_length }}<br><br>{{ /if }}
{{ if 22_reference_C_phone }}<strong>Reference C - phone:</strong> {{ 22_reference_C_phone }}<br><br>{{ /if }}
{{ if 22_reference_C_email }}<strong>Reference C - Email:</strong> {{ 22_reference_C_email }}<br><br>{{ /if }}
{{ if 23_file_resume }}<strong>File resume:</strong> <a target="_blank" href="http://stpaulradiology.com{{ 23_file_resume }}" download>http://stpaulradiology.com{{ 23_file_resume }}</a><br><br>{{ /if }}
{{ if 23_file_coverletter }}<strong>File Coverletter:</strong> <a target="_blank" href="http://stpaulradiology.com{{ 23_file_coverletter }}" download>http://stpaulradiology.com{{ 23_file_coverletter }}</a><br><br>{{ /if }}
{{ if 24_signature }}<strong>Signature:</strong> {{ 24_signature }}<br><br>{{ /if }}
{{ if 25_signature_date }}<strong>Signature date:</strong> {{ 25_signature_date }}<br><br>{{ /if }}

