<div class="row">
  <div class="col-xs-12">
    <h6>20. Education</h6>
    <label class="control-label">High School</label>
    <ul class="form-group">
      <label class="control-label">Diploma/Degree Achieved? <span class="label-req">*</span></label>
      <div class="radio">
        <label>
          <input
            type  = "radio"
            name  = "20_education_HS_diploma"
            id    = "20_education_HS_diploma"
            value = "Yes"
          >
          Yes
        </label>
      </div>
      <div class="radio">
        <label>
          <input
            type  = "radio"
            name  = "20_education_HS_diploma"
            id    = "20_education_HS_diploma"
            value = "No"
          >
          No
        </label>
      </div>
    </ul>

    <label class="control-label">Additional Education</label>
    <ul>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_A_school_name">School Name</label>
          <input
            value = "{{ value:20_education_A_school_name }}"
            type  = "text"
            name  = "20_education_A_school_name"
            id    = "20_education_A_school_name"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_A_location">Location:</label>
          <input
            value = "{{ value:20_education_A_location }}"
            type  = "text"
            name  = "20_education_A_location"
            id    = "20_education_A_location"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_A_years">Years Attended:</label>
          <input
            value = "{{ value:20_education_A_years }}"
            type  = "text"
            name  = "20_education_A_years"
            id    = "20_education_A_years"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_A_degree">Degree Received:</label>
          <input
            value = "{{ value:20_education_A_degree }}"
            type  = "text"
            name  = "20_education_A_degree"
            id    = "20_education_A_degree"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_A_major">Major:</label>
          <input
            value = "{{ value:20_education_A_major }}"
            type  = "text"
            name  = "20_education_A_major"
            id    = "20_education_A_major"
            class = "form-control"
          >
        </div>
      </div>
    </ul>

    <label class="control-label">Additional Education</label>
    <ul>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_B_school_name">School Name</label>
          <input
            value = "{{ value:20_education_B_school_name }}"
            type  = "text"
            name  = "20_education_B_school_name"
            id    = "20_education_B_school_name"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_B_location">Location:</label>
          <input
            value = "{{ value:20_education_B_location }}"
            type  = "text"
            name  = "20_education_B_location"
            id    = "20_education_B_location"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_B_years">Years Attended:</label>
          <input
            value = "{{ value:20_education_B_years }}"
            type  = "text"
            name  = "20_education_B_years"
            id    = "20_education_B_years"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_B_degree">Degree Received:</label>
          <input
            value = "{{ value:20_education_B_degree }}"
            type  = "text"
            name  = "20_education_B_degree"
            id    = "20_education_B_degree"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_B_major">Major:</label>
          <input
            value = "{{ value:20_education_B_major }}"
            type  = "text"
            name  = "20_education_B_major"
            id    = "20_education_B_major"
            class = "form-control"
          >
        </div>
      </div>
    </ul>

    <label class="control-label">Additional Education</label>
    <ul>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_C_school_name">School Name</label>
          <input
            value = "{{ value:20_education_C_school_name }}"
            type  = "text"
            name  = "20_education_C_school_name"
            id    = "20_education_C_school_name"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_C_location">Location:</label>
          <input
            value = "{{ value:20_education_C_location }}"
            type  = "text"
            name  = "20_education_C_location"
            id    = "20_education_C_location"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_C_years">Years Attended:</label>
          <input
            value = "{{ value:20_education_C_years }}"
            type  = "text"
            name  = "20_education_C_years"
            id    = "20_education_C_years"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_C_degree">Degree Received:</label>
          <input
            value = "{{ value:20_education_C_degree }}"
            type  = "text"
            name  = "20_education_C_degree"
            id    = "20_education_C_degree"
            class = "form-control"
          >
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="20_education_C_major">Major:</label>
          <input
            value = "{{ value:20_education_C_major }}"
            type  = "text"
            name  = "20_education_C_major"
            id    = "20_education_C_major"
            class = "form-control"
          >
        </div>
      </div>
    </ul>
  </div>
</div>
