<div class="row form-group">
  <div class="col-sm-6">
    <label for="1_date_applied">Date of Application: <span class="label-req">*</span></label>
    <input
      value = "{{ value:1_date_applied }}"
      type  = "date"
      name  = "1_date_applied"
      id    = "1_date_applied"
      class = "form-control"
      
    >
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-6">
    <label for="2_positions_applied">What positions are you applying for: <span class="label-req">*</span></label>
    <input
      value = "{{ value:2_positions_applied }}"
      type  = "text"
      name  = "2_positions_applied"
      id    = "2_positions_applied"
      class = "form-control"
      
    >
  </div>
</div>

<div class="row form-group">
  <div class="col-xs-12">
    <label class="control-label">3. How Did You Learn About US?</label>
      <div class="radio">
        <label>
          <input
            type  = "radio"
            name  = "3_attribution"
            id    = "3_attribution"
            value = "Employment Agency"
          >
          Employment Agency
        </label>
      </div>

      <div class="radio">
        <label>
          <input
            type  = "radio"
            name  = "3_attribution"
            id    = "3_attribution"
            value = "Website"
          >
          Website
        </label>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Please indicate:</label>
          <div class="col-sm-5">
            <input
              value = "{{ value:3a_attribution_input }}"
              type  = "text"
              name  = "3a_attribution_input"
              class = "form-control"
            >
          </div>
        </div>
      </div>

      <div class="radio">
        <label>
          <input
            type  = "radio"
            name  = "3_attribution"
            id    = "3_attribution"
            value = "Friend or Relative"
          >
          Friend or Relative
        </label>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Please indicate:</label>
          <div class="col-sm-5">
            <input
              value = "{{ value:3a_attribution_input }}"
              type  = "text"
              name  = "3a_attribution_input"
              class = "form-control"
            >
          </div>
        </div>
      </div>

      <div class="radio">
        <label>
          <input
            value = "{{ value:3_attribution }}"
            type  = "radio"
            name  = "3_attribution"
            id    = "3_attribution"
            value = "Other"
          >
          Other
        </label>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Please indicate:</label>
          <div class="col-sm-5">
            <input
              value = "{{ value:3a_attribution_input }}"
              type  = "text"
              name  = "3a_attribution_input"
              class = "form-control"
            >
          </div>
        </div>
      </div>

  </div>
</div>

<br>

<div class="row form-group">
  <div class="col-sm-4">
    <label for="4_first_name">4. First Name <span class="label-req">*</span></label>
    <input
      value = "{{ value:4_first_name }}"
      type  = "text"
      name  = "4_first_name"
      id    = "4_first_name"
      class = "form-control"
      
    >
  </div>

  <div class="col-sm-4">
    <label for="4_last_name">Last Name <span class="label-req">*</span></label>
    <input
      value = "{{ value:4_last_name }}"
      type  = "text"
      name  = "4_last_name"
      id    = "4_last_name"
      class = "form-control"
      
    >
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-4">
    <label for="5_address_1">Address 1 <span class="label-req">*</span></label>
    <input
      value = "{{ value:5_address_1 }}"
      type  = "text"
      name  = "5_address_1"
      id    = "5_address_1"
      class = "form-control"
      
    >
  </div>

  <div class="col-sm-4">
    <label for="5_address_2">Address 2</label>
    <input
      value = "{{ value:5_address_2 }}"
      type  = "text"
      name  = "5_address_2"
      id    = "5_address_2"
      class = "form-control"
    >
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-4">
    <label for="5_city">City <span class="label-req">*</span></label>
    <input
      value = "{{ value:5_city }}"
      type  = "text"
      name  = "5_city"
      id    = "5_city"
      class = "form-control"
      
    >
  </div>

  <div class="col-sm-4">
    <label for="5_state">State <span class="label-req">*</span></label>
    <select class="form-control" name="5_state" id="5_state">
      {{ theme:partial
          src         = "forms/options-states"
          use_context = "true"
      }}
    </select>
  </div>

  <div class="col-sm-4">
    <label for="5_zip">Zip Code <span class="label-req">*</span></label>
    <input
      value = "{{ value:5_zip }}"
      type="text"
      name="5_zip"
      id="5_zip"
      class="form-control"
      
    >
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-4">
    <label for="6_phone_main">6. Telephone Number(s) <span class="label-req">*</span></label>
    <input
      value = "{{ value:6_phone_main }}"
      type  = "tel"
      name  = "6_phone_main"
      id    = "6_phone_main"
      class = "form-control"
      
    >
  </div>
  <div class="col-sm-4">
    <label for="6_phone_alt"> <span>&nbsp;</span> </label>
    <input
      value = "{{ value:6_phone_alt }}"
      type  = "tel"
      name  = "6_phone_alt"
      id    = "6_phone_alt"
      class = "form-control"

    >
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-8">
    <label for="7_email">7. Email Address <span class="label-req">*</span></label>
    <input
      value = "{{ value:7_email }}"
      type  = "7_email"
      name  = "7_email"
      id    = "7_email"
      class = "form-control"
      
    >
  </div>
</div>
