<div class="row">
  <div class="col-xs-12">
    <h6>22. References</h6>

    <div id="reference_A">
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="22_reference_A_name">Name </label>
          <input
            value = "{{ value:22_reference_A_name }}"
            type  = "text"
            name  = "22_reference_A_name"
            id    = "22_reference_A_name"
            class = "form-control"
          >
        </div>
        <div class="col-sm-4">
          <label for="22_reference_A_relation">Relationship: </label>
          <input
            value = "{{ value:22_reference_A_relation }}"
            type  = "text"
            name  = "22_reference_A_relation"
            id    = "22_reference_A_relation"
            class = "form-control"
          >
        </div>
        <div class="col-sm-4">
          <label for="22_reference_A_relation_length">Length of relationship: </label>
          <input
            value = "{{ value:22_reference_A_relation_length }}"
            type  = "text"
            name  = "22_reference_A_relation_length"
            id    = "22_reference_A_relation_length"
            class = "form-control"
          >
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-4">
          <label for="22_reference_A_phone">Phone Number: </label>
          <input
            value = "{{ value:22_reference_A_phone }}"
            type  = "text"
            name  = "22_reference_A_phone"
            id    = "22_reference_A_phone"
            class = "form-control"
          >
        </div>
        <div class="col-sm-4">
          <label for="22_reference_A_email">Email </label>
          <input
            value = "{{ value:22_reference_A_email }}"
            type  = "email"
            name  = "22_reference_A_email"
            id    = "22_reference_A_email"
            class = "form-control"
          >
        </div>
      </div>
    </div>
    <br>

    <div id="reference_B">
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="22_reference_B_name">Name </label>
          <input
            value = "{{ value:22_reference_B_name }}"
            type  = "text"
            name  = "22_reference_B_name"
            id    = "22_reference_B_name"
            class = "form-control"
          >
        </div>
        <div class="col-sm-4">
          <label for="22_reference_B_relation">Relationship: </label>
          <input
            value = "{{ value:22_reference_B_relation }}"
            type  = "text"
            name  = "22_reference_B_relation"
            id    = "22_reference_B_relation"
            class = "form-control"
          >
        </div>
        <div class="col-sm-4">
          <label for="22_reference_B_relation_length">Length of relationship: </label>
          <input
            value = "{{ value:22_reference_B_relation_length }}"
            type  = "text"
            name  = "22_reference_B_relation_length"
            id    = "22_reference_B_relation_length"
            class = "form-control"
          >
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-4">
          <label for="22_reference_B_phone">Phone Number: </label>
          <input
            value = "{{ value:22_reference_B_phone }}"
            type  = "text"
            name  = "22_reference_B_phone"
            id    = "22_reference_B_phone"
            class = "form-control"
          >
        </div>
        <div class="col-sm-4">
          <label for="22_reference_B_email">Email </label>
          <input
            value = "{{ value:22_reference_B_email }}"
            type  = "email"
            name  = "22_reference_B_email"
            id    = "22_reference_B_email"
            class = "form-control"
          >
        </div>
      </div>
    </div>
    <br>


    <div id="reference_C">
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="22_reference_C_name">Name </label>
          <input
            value = "{{ value:22_reference_C_name }}"
            type  = "text"
            name  = "22_reference_C_name"
            id    = "22_reference_C_name"
            class = "form-control"
          >
        </div>
        <div class="col-sm-4">
          <label for="22_reference_C_relation">Relationship: </label>
          <input
            value = "{{ value:22_reference_C_relation }}"
            type  = "text"
            name  = "22_reference_C_relation"
            id    = "22_reference_C_relation"
            class = "form-control"
          >
        </div>
        <div class="col-sm-4">
          <label for="22_reference_C_relation_length">Length of relationship: </label>
          <input
            value = "{{ value:22_reference_C_relation_length }}"
            type  = "text"
            name  = "22_reference_C_relation_length"
            id    = "22_reference_C_relation_length"
            class = "form-control"
          >
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-4">
          <label for="22_reference_C_phone">Phone Number: </label>
          <input
            value = "{{ value:22_reference_C_phone }}"
            type  = "text"
            name  = "22_reference_C_phone"
            id    = "22_reference_C_phone"
            class = "form-control"
          >
        </div>
        <div class="col-sm-4">
          <label for="22_reference_C_email">Email </label>
          <input
            value = "{{ value:22_reference_C_email }}"
            type  = "email"
            name  = "22_reference_C_email"
            id    = "22_reference_C_email"
            class = "form-control"
          >
        </div>
      </div>
    </div>

  </div>
</div>
