<div class="container entries-listing">
  {{ get_content from="{segment_1}" }}
    <h1>{{ title }}: {{ taxonomy_name|title:smart }}</h1>
    {{ content }}
  {{ /get_content }}

  <div class="row">
    <div class="col-xs-12 col-sm-9 entries-listing">
      {{ entries:listing
          limit    = "4"
          paginate = "true"
          taxonomy = "true"
      }}
        {{ theme:partial
            src         = "listings/entry"
            use_context = "true"
        }}
        <hr>
      {{ /entries:listing }}

      <nav class="clearfix">
        <ul class="pagination pagination-lg pull-right">
          {{ entries:pagination limit="4" }}
            {{ theme:partial
                src         = "entries/pagination"
                use_context = "true"
            }}
          {{ /entries:pagination }}
        </ul>
      </nav>
    </div>

    <aside class="col-xs-12 col-sm-3">
      {{ theme:partial src="entries/sidebar" }}
    </aside>
  </div>
</div>





{{# entries:listing folder="blog" limit="4"  #}}
