<div class="template-apply-form">

  {{ if {raven:success} }}
    <h2 class="text-success">Your form was successfully submitted.</h2>
    <p class="text-success">We'll get back to you soon.</p>
    {{ raven:submission }}
      <ul class="list-unstyled alert alert-success">
        <li><b>Name:</b> {{ 4_first_name }} {{ 4_last_name }}</li>
        <li><b>Email:</b> {{ 7_email }}</li>
        <li><b>Submission Date:</b> {{ 1_date_applied }}</li>
      </ul>
    {{ /raven:submission }}

  {{ else }}
    {{ if {raven:has_errors} }}
      <h2 clas="text-danger">Looks like something went wrong.</h2>
      <ul>
        {{ raven:errors }}
          {{ missing }}
            <li class="alert alert-danger">{{ field }} is required</li>
          {{ /missing }}

          {{ invalid }}
            <li class="alert alert-danger">{{ field }}: {{ message }}</li>
          {{ /invalid }}

        {{ /raven:errors }}
      </ul>
    {{ /if }}

    {{ raven:form formset="apply_for_a_position" files="true" }}

      {{# Questions: 1 thru 7 - Basic Info #}}
      {{ theme:partial src="forms/apply/part-1" }}

      {{# Questions: 8 thru 19 - History #}}
      {{ theme:partial src="forms/apply/part-2" }}

      {{# Question 20 - Education #}}
      {{ theme:partial src="forms/apply/part-3" }}

      {{# Question 21 - Experience #}}
      {{ theme:partial src="forms/apply/part-4" }}

      {{# Question 22 - References #}}
      {{ theme:partial src="forms/apply/part-5" }}

      {{# Questions: 23 thru 25 - Files and Signature #}}
      {{ theme:partial src="forms/apply/part-6" }}

      {{# This is our honeypot field to prevent spam entries #}}
      <input type="text" name="website" class="hidden">

      <button class="btn btn-primary">Submit</button>

    {{ /raven:form }}

  {{ /if }}

</div>
