<option value="AL" {{ if value:state === "AL"}}selected{{ /if }}>Alabama</option>
<option value="AK" {{ if value:state === "AK"}}selected{{ /if }}>Alaska</option>
<option value="AZ" {{ if value:state === "AZ"}}selected{{ /if }}>Arizona</option>
<option value="AR" {{ if value:state === "AR"}}selected{{ /if }}>Arkansas</option>
<option value="CA" {{ if value:state === "CA"}}selected{{ /if }}>California</option>
<option value="CO" {{ if value:state === "CO"}}selected{{ /if }}>Colorado</option>
<option value="CT" {{ if value:state === "CT"}}selected{{ /if }}>Connecticut</option>
<option value="DE" {{ if value:state === "DE"}}selected{{ /if }}>Delaware</option>
<option value="FL" {{ if value:state === "FL"}}selected{{ /if }}>Florida</option>
<option value="GA" {{ if value:state === "GA"}}selected{{ /if }}>Georgia</option>
<option value="HI" {{ if value:state === "HI"}}selected{{ /if }}>Hawaii</option>
<option value="ID" {{ if value:state === "ID"}}selected{{ /if }}>Idaho</option>
<option value="IL" {{ if value:state === "IL"}}selected{{ /if }}>Illinois</option>
<option value="IN" {{ if value:state === "IN"}}selected{{ /if }}>Indiana</option>
<option value="IA" {{ if value:state === "IA"}}selected{{ /if }}>Iowa</option>
<option value="KS" {{ if value:state === "KS"}}selected{{ /if }}>Kansas</option>
<option value="KY" {{ if value:state === "KY"}}selected{{ /if }}>Kentucky</option>
<option value="LA" {{ if value:state === "LA"}}selected{{ /if }}>Louisiana</option>
<option value="ME" {{ if value:state === "ME"}}selected{{ /if }}>Maine</option>
<option value="MD" {{ if value:state === "MD"}}selected{{ /if }}>Maryland</option>
<option value="MA" {{ if value:state === "MA"}}selected{{ /if }}>Massachusetts</option>
<option value="MI" {{ if value:state === "MI"}}selected{{ /if }}>Michigan</option>
<option value="MN" {{ if value:state === "MN"}}selected{{ /if }}>Minnesota</option>
<option value="MS" {{ if value:state === "MS"}}selected{{ /if }}>Mississippi</option>
<option value="MO" {{ if value:state === "MO"}}selected{{ /if }}>Missouri</option>
<option value="MT" {{ if value:state === "MT"}}selected{{ /if }}>Montana</option>
<option value="NE" {{ if value:state === "NE"}}selected{{ /if }}>Nebraska</option>
<option value="NV" {{ if value:state === "NV"}}selected{{ /if }}>Nevada</option>
<option value="NH" {{ if value:state === "NH"}}selected{{ /if }}>New Hampshire</option>
<option value="NJ" {{ if value:state === "NJ"}}selected{{ /if }}>New Jersey</option>
<option value="NM" {{ if value:state === "NM"}}selected{{ /if }}>New Mexico</option>
<option value="NY" {{ if value:state === "NY"}}selected{{ /if }}>New York</option>
<option value="NC" {{ if value:state === "NC"}}selected{{ /if }}>North Carolina</option>
<option value="ND" {{ if value:state === "ND"}}selected{{ /if }}>North Dakota</option>
<option value="OH" {{ if value:state === "OH"}}selected{{ /if }}>Ohio</option>
<option value="OK" {{ if value:state === "OK"}}selected{{ /if }}>Oklahoma</option>
<option value="OR" {{ if value:state === "OR"}}selected{{ /if }}>Oregon</option>
<option value="PA" {{ if value:state === "PA"}}selected{{ /if }}>Pennsylvania</option>
<option value="RI" {{ if value:state === "RI"}}selected{{ /if }}>Rhode Island</option>
<option value="SC" {{ if value:state === "SC"}}selected{{ /if }}>South Carolina</option>
<option value="SD" {{ if value:state === "SD"}}selected{{ /if }}>South Dakota</option>
<option value="TN" {{ if value:state === "TN"}}selected{{ /if }}>Tennessee</option>
<option value="TX" {{ if value:state === "TX"}}selected{{ /if }}>Texas</option>
<option value="UT" {{ if value:state === "UT"}}selected{{ /if }}>Utah</option>
<option value="VT" {{ if value:state === "VT"}}selected{{ /if }}>Vermont</option>
<option value="VA" {{ if value:state === "VA"}}selected{{ /if }}>Virginia</option>
<option value="WA" {{ if value:state === "WA"}}selected{{ /if }}>Washington</option>
<option value="WV" {{ if value:state === "WV"}}selected{{ /if }}>West Virginia</option>
<option value="WI" {{ if value:state === "WI"}}selected{{ /if }}>Wisconsin</option>
<option value="WY" {{ if value:state === "WY"}}selected{{ /if }}>Wyoming</option>
